<ng-container content>

    <div class="box-content-announcemnet overflow-auto">
        <!-- <pngx-page-header title="Announcements" i18n-title info="This section shows all active announcements." i18n-info> -->
        <div class="announcement-title">Announcements</div>
        <div class="btn-toolbar col col-md-auto align-items-center w-100 justify-content-end">
            <button class="btn btn-sm btn-outline-secondary ms-2" (click)="clearSelection()"
                [hidden]="selectedAnnouncements.size === 0">
                <i-bs name="x"></i-bs>&nbsp;<ng-container i18n>Clear selection</ng-container>
            </button>
            <button class="btn btn-sm btn-outline-primary ms-2" (click)="dismissAnnouncements()"
                *pngxIfPermissions="{ action: PermissionAction.Change}" [disabled]="announcements.length === 0">
                <i-bs name="check2-all"></i-bs>&nbsp;{{dismissButtonText}}
            </button>
            <!-- <div class="form-check form-switch mb-0 mt-1">
                <input class="form-check-input" type="checkbox" role="switch" id="autoRefreshSwitch"
                    (click)="toggleAutoRefresh()" [attr.checked]="autoRefreshInterval">
                <label class="form-check-label" for="autoRefreshSwitch" i18n>Auto refresh</label>
            </div> -->
        </div>



        <table class="table align-middle border shadow-sm">
            <tbody>
                <ng-container *ngFor="let announcement of announcements | slice:0:visibleCounts.all">
                    <tr (click)="toggleSelected(announcement, $event); $event.stopPropagation();"
                        class=" item-announcement"
                        [ngStyle]="{ 'background-color': announcement.is_read ? 'white' : 'var(--bs-primary)' }">
                        <td>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="announcement{{announcement.id}}"
                                    [checked]="selectedAnnouncements.has(announcement.id)"
                                    (click)="toggleSelected(announcement, $event); $event.stopPropagation();">
                                <label class="form-check-label" for="announcement{{announcement.id}}"></label>
                            </div>
                        </td>
                        <td class="overflow-auto box-title-annoucement-permission"
                        [ngStyle]="{'color': announcement.is_read ? '#000000' : 'var(--pngx-primary-text-contrast)'}">
                            <p class=" title-announcemnt-permission" (click)="handleAnnouncementClick(announcement); $event.stopPropagation();">
                                <ng-container *ngIf="!announcement.is_read">
                                    <i-bs name="chat-square-text" class="icon-unread-announcement"></i-bs>
                                    
                                </ng-container>
                                <span class="text-info-announcement">Permission: {{ announcement.access_type }}.</span>
                                <span class="text-info-announcement">Type: {{ announcement.ctype }}.</span>
                                <span class="text-info-announcement">Name: {{announcement.name}}.</span>
                                <span class="text-info-announcement">Created: {{ announcement.created ?
                                    (announcement.created | date: 'dd/MM/yyyy - HH:mm:ss') : 'N/A' }}.</span>
                            </p>
                        </td>
                        <!-- <td class="overflow-auto info-mobile-announcement">
                            <span class="text-decoration-none content-announcement"
                                (click)="expandAnnouncement(announcement); $event.stopPropagation();">
                                <i-bs width="1.2em" height="1.2em" name="info-circle"></i-bs>
                            </span>
                        </td> -->
                        <!-- <td class="box-btn-dismiss-annoucement">
                            <div class="btn-group" role="group">
                                <button class="btn btn-sm btn-outline-secondary"
                                    (click)="dismissAnnouncement(announcement); $event.stopPropagation();"
                                    *pngxIfPermissions="{ action: PermissionAction.Change }">
                                    <i-bs name="check"></i-bs>&nbsp;<ng-container i18n>Dismiss</ng-container>
                                </button>
                            </div>
                        </td> -->
                    </tr>
                    <!-- <tr *ngIf="expandedAnnouncement === announcement.id">
                        <td colspan="4" class="box-content-detail-announcement">
                            <p class=" content-detail-announcement"
                                (click)="handleAnnouncementClick(announcement)">
                                Permission: {{ announcement.access_type }} - {{ announcement.ctype }} - {{
                                announcement.name }} - {{ announcement.created }}
                            </p>
                        </td>
                    </tr> -->
                </ng-container>
            </tbody>
        </table>
        <button *ngIf="showMore" class="btn btn-sm btn-outline-primary btn-show-more" (click)="loadMore()">
            Show more <i-bs name="three-dots" width="1em" height="1em"></i-bs>
        </button>


    </div>

</ng-container>