<ng-container content>
    <!-- <div class="list-group border-light mt-3">
        <ng-container *pngxIfPermissions="{ action: PermissionAction.View, type: PermissionType.DocumentType }">
            @if (statistics?.document_type_count > 0) {
            <a class="list-group-item d-flex justify-content-between align-items-center" routerLink="/documenttypes/">
                <ng-container i18n>Document Types</ng-container>
                :
                <span class="badge bg-secondary text-light rounded-pill">{{ statistics?.document_type_count | number
                    }}</span>
            </a>
            }
        </ng-container>
    </div> -->
    <div class="box-content-announcemnet overflow-auto">
        <!-- <pngx-page-header title="Announcements" i18n-title info="This section shows all active announcements." i18n-info> -->
        <div class="announcement-title">Announcements</div>
        <div class="btn-toolbar col col-md-auto align-items-center w-100">
            <button class="btn btn-sm btn-outline-secondary me-2 mt-1" (click)="clearSelection()"
                [hidden]="selectedAnnouncements.size === 0">
                <i-bs name="x"></i-bs>&nbsp;<ng-container i18n>Clear selection</ng-container>
            </button>
            <button class="btn btn-sm btn-outline-primary me-2 mt-1" (click)="dismissAnnouncements()"
                *pngxIfPermissions="{ action: PermissionAction.Change}" [disabled]="announcements.length === 0">
                <i-bs name="check2-all"></i-bs>&nbsp;{{dismissButtonText}}
            </button>
            <div class="form-check form-switch mb-0 mt-1">
                <input class="form-check-input" type="checkbox" role="switch" id="autoRefreshSwitch"
                    (click)="toggleAutoRefresh()" [attr.checked]="autoRefreshInterval">
                <label class="form-check-label" for="autoRefreshSwitch" i18n>Auto refresh</label>
            </div>
        </div>
        <!-- </pngx-page-header> -->

        <!-- Tabs for filtering announcements -->
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs" (hidden)="duringTabChange($event)">
            <li ngbNavItem="all">
                <a ngbNavLink i18n>All <span class="badge bg-secondary ms-2">{{ announcements.length }}</span></a>
                <ng-template ngbNavContent>
                    <ng-container [ngTemplateOutlet]="announcementsTemplate"
                        [ngTemplateOutletContext]="{ announcements: announcements | slice:0:visibleCounts.all, showMore: showMoreAnnouncements(announcements, 'all'), type: 'all' }">
                    </ng-container>
                </ng-template>
            </li>
            <li ngbNavItem="unread">
                <a ngbNavLink i18n>Unread <span class="badge bg-secondary ms-2">{{ unreadAnnouncements.length
                        }}</span></a>
                <ng-template ngbNavContent>
                    <ng-container [ngTemplateOutlet]="announcementsTemplate"
                        [ngTemplateOutletContext]="{ announcements: unreadAnnouncements | slice:0:visibleCounts.unread, showMore: showMoreAnnouncements(unreadAnnouncements, 'unread'), type: 'unread' }">
                    </ng-container>
                </ng-template>
            </li>
            <li ngbNavItem="read">
                <a ngbNavLink i18n>Read <span class="badge bg-secondary ms-2">{{ readAnnouncements.length }}</span></a>
                <ng-template ngbNavContent>
                    <ng-container [ngTemplateOutlet]="announcementsTemplate"
                        [ngTemplateOutletContext]="{ announcements: readAnnouncements | slice:0:visibleCounts.read, showMore: showMoreAnnouncements(readAnnouncements, 'read'), type: 'read' }">
                    </ng-container>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>

        <!-- Template for displaying announcements -->
        <ng-template #announcementsTemplate let-announcements="announcements" let-showMore="showMore" let-type="type">
            <table class="table table-striped align-middle border shadow-sm">
                <tbody>
                    <ng-container *ngFor="let announcement of announcements">
                        <tr (click)="toggleSelected(announcement, $event); $event.stopPropagation();">
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="announcement{{announcement.id}}"
                                        [checked]="selectedAnnouncements.has(announcement.id)"
                                        (click)="toggleSelected(announcement, $event); $event.stopPropagation();">
                                    <label class="form-check-label" for="announcement{{announcement.id}}"></label>
                                </div>
                            </td>
                            <td class="overflow-auto">
                                <span class="text-decoration-none content-announcement"
                                    (click)="expandAnnouncement(announcement); $event.stopPropagation();">
                                    <i-bs width="1.2em" height="1.2em" name="info-circle"></i-bs>
                                </span>
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-sm btn-outline-secondary"
                                        (click)="dismissAnnouncement(announcement); $event.stopPropagation();"
                                        *pngxIfPermissions="{ action: PermissionAction.Change }">
                                        <i-bs name="check"></i-bs>&nbsp;<ng-container i18n>Dismiss</ng-container>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="expandedAnnouncement === announcement.id">
                            <td colspan="4" class="box-content-detail-announcement">
                                <p class="text-decoration-none content-detail-announcement"
                                    (click)="handleAnnouncementClick(announcement)">
                                    {{ announcement.ctype }} - {{ announcement.name }} - {{ announcement.created }}
                                </p>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <button *ngIf="showMore" class="btn btn-sm btn-outline-primary btn-show-more" (click)="loadMore(type)">Show
                More</button>
        </ng-template>

    </div>

</ng-container>